@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   font-family: 'Rubik', sans-serif;
   height: 100%;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.header-admin{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: #00ffff;
}

.header-admin img{
    height: 200px;
    width: 15%;
    object-fit: cover;
}

.header-admin__logout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.admin-logout__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    background-color: azure;
    padding-right: 20px;
}

.admin-logout__link span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: blueviolet;
}
.contain-admin{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contain-admin__list{
    background-color: #00ffff;
    width: 15%;
    height: 700px;
}

.contain-admin__list li{
    padding: 10px 0px;
}
.contain-admin__list li a{
    color: #000;
    font-size: 20px;
}

.contain-admin__list li i{
   font-size: 30px;
   margin : 0px 10px;
}
.contain-admin__table{
    background-color: #DCDCDC;
    width: 85%;
}